langchain
langchain-openai
langchain-mongodb
langgraph~=0.2.56
pymongo~=4.9.2
pydantic~=2.10.2
flask~=3.1.0
flask-cors
flask_restx
langgraph-checkpoint-mongodb
PyYAML~=6.0.2
requests~=2.32.3
beautifulsoup4~=4.12.3
httpx~=0.28.0